<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon_verde.png" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> 
  </head>
  <body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
              <a class="navbar-brand" href="#">Navbar w/ text</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  Navbar text with an inline element
                </span>
              </div>
            </nav>
        </div>
    </header>
    <div class="content" data-cms-content-wrapper="/_layouts/default.html">
      {{ content }}
    </div>
    <footer class="footer-main">
      <div class="container">
          <div class="row">
            <div class="col-md-6" style="line-height: 1em; font-size: 8pt;">
                <p>
                    Sede Administrativa: Dg 18 No. 20-29 Fusagasugá | PBX (+57 1) 828 1483 | 
                    Seccional Girardot | Seccional Ubaté | Extensión Chía | Extensión Chocontá |
                    Extensión Facatativá | Extensión Soacha | Extensión Zipaquirá | Oficinas Bogotá D.C.
                    Línea gratuita: 01 8000 976 000 | e-mail: unicundi@ucundinamarca.edu.co
                </p>
                <p>
                    <b>Notificaciones judiciales: </b><br/>
                    Dirección Jurídica (+57 1) 828 1483 Ext. 115 | e-mail: oficinajuridicaudec@ucundinamarca.edu.co
                </p>
            </div>
            <div class="col-md-6" style="line-height: 1em; font-size: 8pt; text-align:right;">
                <p>
                    &copy; 2017 UCUNDINAMARCA Generación Siglo 21
                    <br/>
                    Universidad de Cundinamarca - UDEC
                    <br/>
                    Vigilada Mineducación
                    <br/>
                    Reconocida por Resolución No. 19530, de Diciembre 30 de 1992 (MEN)
                    <br/>
                </p>
            </div>
        </div>
      </div>
    </footer>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
