<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all" />
    <link rel="shortcut icon" href="/images/favicon_verde.png" />
  </head>
  <body>
    <header style="background-color:#d5ca3d!important;">
      <div class="container"><nav class="main-nav"><ul><li><a class="navs-link" href="/">Inicio</a><a class="navs-link" href="/blog.html">Blog</a>&nbsp;<a class="navs-link" href="/listado.html">Listado</a>&nbsp;</li></ul></nav><h1><img style="height:7vh;" alt="" src="/uploads/versions/icon-ucundinamarca---x----434-126x---.png" width="217" height="63" /></h1></div>
    </header>
    <div class="content" data-cms-content-wrapper="/_layouts/default.html">
      {{ content }}
    </div>
    <footer class="footer-main">
      <div class="container">
        <div class="column half" style="line-height: 1em; font-size: 8pt;">
            <p>
                Sede Administrativa: Dg 18 No. 20-29 Fusagasugá | PBX (+57 1) 828 1483 | 
                Seccional Girardot | Seccional Ubaté | Extensión Chía | Extensión Chocontá |
                Extensión Facatativá | Extensión Soacha | Extensión Zipaquirá | Oficinas Bogotá D.C.
                Línea gratuita: 01 8000 976 000 | e-mail: unicundi@ucundinamarca.edu.co
            </p>
            <p>
                <b>Notificaciones judiciales: </b><br/>
                Dirección Jurídica (+57 1) 828 1483 Ext. 115 | e-mail: oficinajuridicaudec@ucundinamarca.edu.co
            </p>
        </div>
        <div class="column half" style="line-height: 1em; font-size: 8pt; text-align:right;">
            <p>
                &copy; 2017 UCUNDINAMARCA Generación Siglo 21
                <br/>
                Universidad de Cundinamarca - UDEC
                <br/>
                Vigilada Mineducación
                <br/>
                Reconocida por Resolución No. 19530, de Diciembre 30 de 1992 (MEN)
                <br/>
            </p>
        </div>
      </div>
    </footer>
  </body>
</html>
