---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center editable">
            <br/>
            <br/>
            <h2 id="titulo">{{ page.title }}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">
            <p><small id="categoria">{{ page.category }} <span class="date" id="fecha"> {{ page.date | date: '%B %d, %Y' }}</span></small></p>
            <p id="contenido">
                {{ content }}    
            </p>  
        </div>
    </div>
</div>
<script src="/js/functions.js"></script>



