---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center editable">
            <br/>
            <br/>
            <h2 id="titulo">{{ page.title }}</h2>
        </div>
    </div>
    <div class="row justify-content-center"> 
    <div class="col-md-5 col-lg-5 text-left">
        <p id="categoria" class="text-secondary lead">{{ page.category }}</p>
    </div>
    <div class="col-md-5 col-lg-5 text-right">
        <p class="date text-secondary text-right lead" id="fecha"> {{ page.date | date: '%B %d, %Y' }}</p>
    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-10">
            <p id="contenido">
                {{ content }}    
            </p>  
        </div>
    </div>
</div>




